.logo
    height: 150px
    width: 150px
    background-image: url(../../assets/img/logo.png)
    background-size: 150px 150px

.logo-small
    height: 60px
    width: 60px
    background-image: url(../../assets/img/logo-small.png)
    background-size: 60px 60px
    margin: 5px


.about-cover
    width: 100vw
    height: 450px
    background-image: url(../../assets/img/about_cover.jpg)
    background-size: auto
    background-position: center
    opacity: 0.2

.item-img
    height: 100px
    width: 100px
    border-radius: 12px
    border:1px solid lightgray

.profile-img
    height: 300px
    width: 300px

.custom-input
    padding: 5px
    box-shadow: inset 0 0 2px lightgray
    border:1px solid lightgray
    border-radius: 5px
    width: 100%

.custom-input-label
    font-weight: 500

.custom-input-desc
    color: gray
    font-weight: 300
    font-size: 0.9em

.full-height
    height: 100vh

.below-app-bar
    height: 91vh

.vertical-center
    display: flex
    align-items: center

.v-data-table td
    height: 105px