<template>
<v-content>
 <v-card
    class="mx-auto" style="border-radius:0"
  >
  <div style="background:linear-gradient(to bottom right,var(--v-primary-base),var(--v-accent-base),var(--v-accent-base))">
    <div class="about-cover"></div>
  </div>
<v-card-title class="display-3 white--text" style="text-align:center;margin-top:-200px;display:flex;justify-content:center;text-transform: uppercase;font-weight:bolder">Welcome<br>Magicians!</v-card-title>
  </v-card>
  <v-container>
  <v-card style="border-radius:0;margin-top:100px;box-shadow:0 0 0">
      <v-card-title class="headline black--text">Magicians' Market is the top E-commerce platform for buying magic props.</v-card-title>
      <v-divider />
      <v-card-text class="body-1 black--text">
Launched in 2019, it is a place tailored for the community, providing like-minded people with the love for magic, efficient and convenient online shopping experience through strong payment and fulfillment support.
We believe online shopping should be accessible for magician community, easy and enjoyable. This is the vision Magicians' Market aspires to deliver on the platform, every single day.
      </v-card-text>
            <v-divider />
      <v-card-text class="body-1 grey--text">
          Magicians' Market is a proof-of-concept application developed by 
          <a href="https://kevnmoe.gitlab.io" target="_blank" label="Kevin Moe Myint Myat">Kevin Moe Myint Myat</a>
          <a style="text-decoration:none" target="_blank" href="https://sg.linkedin.com/in/moe-myint-myat-kevn"><v-icon>mdi-linkedin-box</v-icon></a>
      </v-card-text>
  </v-card>
  </v-container>
  <v-footer
    dark
    padless
    fixed
  >
    <v-card
      flat
      tile
      class="black lighten-1 white--text text-center"
      style="width:100vw"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
          color="primary"
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>
      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} © Copyright Magicians' Market, All Rights Reserved
      </v-card-text>
       <v-card-text class="white--text ma-0 pa-0">
       <strong>Built with VueJs and Vuetify Framework, Powered by Back4App Parse Server</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>
export default {
data:() => ({
      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-google-plus',
        'mdi-linkedin',
        'mdi-instagram',
      ]
})
};
</script>
