<template>
<v-content>
    <v-app-bar color="accent" dark app>
        <v-btn text icon @click="showNav = !showNav">
             <v-icon>mdi-menu</v-icon>
      </v-btn>
     <router-link
        to="/"
        aria-label="Magicians' Market"
        title="Magicians' Market Home Page"
      >
      <div class="logo-small d-none d-sm-flex"/>
     </router-link>
      <v-toolbar-title>
        <span>M</span>agicians' <span>M</span>arket</v-toolbar-title>
        <v-spacer></v-spacer>
      <NotiList></NotiList>
        <div class="pr-1 d-none d-sm-flex" >Hello, {{username}}</div>
                <AccMenu></AccMenu>
    </v-app-bar>
    <NavDrawer :show="showNav" @show="receivedNav"></NavDrawer>
    <router-view class="ma-0 pa-0 below-app-bar"></router-view>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>
import NavDrawer from '../components/NavDrawer'
import AccMenu from '../components/AccMenu'
import NotiList from '../components/NotiList'
export default {
  name: 'Home',
  components: {
    NavDrawer,AccMenu,NotiList
  },
  data: () => ({
    showNav: false,
    username: ''
  }),
  mounted() {
    this.getUser();
  },
  methods: {
    receivedNav(value) {
      this.showNav = value
    },
    getUser() {
      const user = this.$parse.User.current()
      this.username = user.get('username')
  }
  }
};
</script>
