<template>
<v-content>
    <v-form @submit.prevent="login()" v-model="valid" ref="loginForm" autocomplete="off" class="full-height vertical-center">
                <v-container direction="vertical" class="my-5">
                    <v-layout type="flex" justify-center>
                    <v-alert v-if="error != ''" class="ma-0" color="error" con="warning" style="text-align:center" v-text="error" outlined></v-alert>
                    </v-layout>
                    <v-layout type="flex" justify-center class="py-3">
                            <div class="logo" />
                    </v-layout>
                    <v-layout type="flex" justify-center class="pt-3 pb-0">
                    <p class="display-1"><span>M</span>agicians' <span>M</span>arket</p>
                    </v-layout>
                    <v-layout type="flex" justify-center  style="margin-top:-20px" class="pb-5">
                    <p class="body-1 grey--text" style="font-weight:bolder">No.#1 Best Place to Buy Magic Props</p>
                    </v-layout>
                    <v-layout type="flex" justify-center >
                        <v-flex md4 lg4 xl4>
                            <v-text-field
                            v-model="loginForm.username"
                                label="Username"
                                autocomplete="off"
                                outlined
                                type="text"
                                 :rules="rules.username"
                            ></v-text-field>
                            <v-text-field
                                label="Password"
                                v-model="loginForm.password"
                                type="password"
                                autocomplete="off"
                                outlined
                                :rules="rules.password"
                            ></v-text-field>
                            <v-btn class="primary--text" type="submit" color="black" :loading="loading" block>Login</v-btn>
                            <p class="color-tertiary text-center mt-2">No account yet? <router-link class="color-secondary" :to="{path : '/register'}">Sign up here.</router-link></p>
                        </v-flex>
                    </v-layout>
                </v-container>
        </v-form>
    </v-content>
</template>

<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>

export default {
  name: 'Login',
  components: {
  },
  data: () => ({
    valid: false,
    error:'',
    loading: false,
    loginForm:{
        username: '',password: ''
    },
    rules:{
        username:[
            v=> !!v || 'Username is required',
            v=> v.length < 20 || 'Username must be at most 20 characters'
        ],
        password:[
            v=> !!v || 'Password is required',
            v=> v.length >= 8 || 'Password must be at least 8 characters'
        ]
    }
  }),
  methods: {
      login () {
          this.loading = true;
          if(this.$refs.loginForm.validate()){
              this.$parse.User.logIn(this.loginForm.username,this.loginForm.password).then(() => {
                this.loading = false;
                this.$router.push({path: '/'});
              }).catch(error => {
                    this.loading = false;
                  this.error = error.message;
                })
          }
          else{
              this.loading = false;
          }
      }
  }
};
</script>
