<template>
<v-content>
<v-card>
    <v-card-title>
      Popular Items
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-container>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
    >
      <template v-slot:item.img="{ item }">
          <v-layout direction="flex" justify-end>
      <img v-bind:src="item.img" class="item-img"/>
          </v-layout>
       </template>
    </v-data-table>
    </v-container>
  </v-card>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>
export default {
data: () => ({
    search: '',
        headers: [
             {
            text: 'Name',
            value: 'name',
          },
          { text: 'Price (SGD)', value: 'price' },
          { text: 'Quantity (PCS)', value: 'qty' },
          { text: 'Image', align:'right',value: 'img',sortable:false }
        ],
        items: [
        ]
}),
mounted: function(){
    this.getItems()
}
,
methods:{
    getItems() {
        const item = this.$parse.Object.extend('Item')
        const query = new this.$parse.Query(item)
        query.find().then( items => {
            items.forEach( item => {
            let itemObj = { name:item.attributes.name,price:item.attributes.price,qty:item.attributes.qty,
            img:item.attributes.img._url}
            this.items.push(itemObj)
            })
        })
    }
}
};
</script>
