<template>
<v-content class="full-height vertical-center">
 <v-layout type="flex" justify-center>
<p class="display-4">4<span>0</span>4</p>
 </v-layout>
  <v-layout type="flex" justify-center>
<p class="headline">Page Not Found</p>
 </v-layout>
   <v-layout type="flex" justify-center>
<router-link to="/">Get back to Home</router-link>
 </v-layout>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
</style>
<script>

export default {
  name: 'Template',
  components: {
  },
  data: () => ({
    
  }),
  methods: {

  }
};
</script>
