<template>
<v-content class="vertical-center">
 <v-layout type="flex" justify-center>
<p class="display-1 grey--text">Outlet page should appear here.</p>
 </v-layout>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>
export default {

};
</script>
