<template>
<v-content>
    <v-layout class="mt-3 ml-3">
            <p class="headline"
        >
          Your Profile
        </p>
    </v-layout>
        <v-divider/>
                            <v-layout type="flex" justify-center>
                    <v-alert v-if="error != ''" class="ma-0" color="error" con="warning" style="text-align:center" v-text="error" outlined></v-alert>
                    </v-layout>
    <v-form @submit.prevent="updateProfile()" v-model="valid" ref="profileForm" autocomplete="off" class="pb-3" >
        <v-row>
            <v-col cols="12" xs="12" lg="5">
                <v-layout type="flex" justify-center>
                <v-card class="ma-3">
                 <v-img
      class="align-end"
      height="300px"
      width="300px"
      v-bind:src="profileForm.profilePic"
    >
               <v-btn color="accent" class="ma-2" @click="clickFileUpload">
                   <v-icon class="mx-1">mdi-camera</v-icon>Edit</v-btn>
    </v-img>
    <input  v-show="false" ref="inputUpload" type="file" @change="handleChange" >
                </v-card>
                </v-layout>
            </v-col>
        <v-col cols="12" lg="6" xs="12">
            <v-container>
    <p class="custom-input-label ma-0">Username</p>
    <v-text-field
    solo
    type="text"
    label="Enter your username"
    v-model="profileForm.username"
    :rules="rules.username"
     />
         <p class="custom-input-label ma-0">Full Name</p>
    <v-text-field
    solo
    type="text"
    label="Enter your full name"
    v-model="profileForm.fullname"
    :rules="rules.fullname"
     />
         <p class="custom-input-label ma-0">Email Address</p>
    <v-text-field
    solo
    type="text"
    label="Enter your email address"
    :rules="rules.email"
        v-model="profileForm.email"
     />
      <p class="custom-input-label ma-0">Password</p>
    <v-text-field
    solo
    type="password"
    label="Click to change password"
    :rules="rules.password"
    v-model="profileForm.password"
    readonly
    @click="dialogPw = true"
     />
         <p class="custom-input-label ma-0">Date of Birth</p>
         <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="profileForm.date"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on }" class="ma-0">
          <v-text-field
            v-model="profileForm.date"
            label="Select your birthdate"
            prepend-inner-icon="event"
            solo
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="profileForm.date" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(profileForm.date)">OK</v-btn>
        </v-date-picker>
      </v-dialog>
          <p class="custom-input-label ma-0">Age</p>
    <v-text-field
    solo
    type="text"
    v-model="getAge"
    readonly
     />
         <p class="custom-input-label ma-0">Education</p>
    <v-text-field
    solo
    type="text"
    label="Enter your education"
        v-model="profileForm.education"
     />
              <p class="custom-input-label ma-0">About Me</p>
    <v-textarea
    label="Explain about you in maximum 150 characters"
        v-model="profileForm.aboutMe"
        solo

     />
     <v-btn color="black" :loading="loading" class="primary--text" block type="submit">Update profile</v-btn>
            </v-container>
        </v-col>
    </v-row>
    </v-form>
    <PasswordDialog :dialogPw="dialogPw" @dialog="receiveDialogPw"></PasswordDialog>
    <v-dialog
      v-model="getDialog"
      width="550"
    >
      <v-card>
        <v-card-title
          class="headline black primary--text"
          primary-title
        >
          Confirmation
        </v-card-title>

        <v-card-text class="body-1 black--text ma-0 mt-2">
         Are you sure to replace your profile picture with this image?
        </v-card-text>
        <v-layout type="flex" justify-center class="ma-0">
        <v-img
      height="200"
      width="200" v-bind:src="uploadedPicUrl" contain/>
        </v-layout>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="getDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="gray"
            text
            @click="editProfilePic"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-content>
</template>
<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>
import PasswordDialog from '../components/PasswordDialog'
export default {
    components:{
        PasswordDialog
    },
data: () => ({
    modal:'',
    loading: false,
    dialog: false,
    dialogPw: false,
    error: '',
    valid: false,
    uploadedPic:null,
    uploadedPicUrl: '',
    profileForm:{
    username: '',fullname:'',password:'',email:'',education:'',aboutMe:'',date:null,profilePic:''
    },
    rules:{
        username:[
            v=> !!v || 'Username is required'
        ],
        fullname:[
            v=> !!v || 'Full name is required'
        ],
        password:[
            v=> !!v || 'Password is required',
            v=> v.length >= 8 || 'Password must be at least 8 Characters'
        ],
        email:[
            v=> !!v || 'Email is required'
        ]
    }
}),
computed:{
    getAge(){
        const thisYear = new Date().getFullYear()
        const birthYear = this.profileForm.date.split('-')[0]
        return thisYear - birthYear
    },
    getDialog:{
        get(){
            return this.dialog
        },
        set(value){
            this.$refs.inputUpload.value = null
            this.dialog = value
        }
    }
},
mounted() {
    this.getUser()
},
methods:{
    clickFileUpload(){
        this.$refs.inputUpload.click()
    },
    handleChange(e) {
          var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
            return;
            else
            this.uploadedPicUrl = URL.createObjectURL(files[0])
            this.uploadedPic = files[0]
            this.dialog = true
    },
    getUser() {
        const currentUser = this.$parse.User.current()
        this.profileForm.username = currentUser.get('username')
        this.profileForm.fullname = currentUser.get('name')
        this.profileForm.email = currentUser.get('email')
        this.profileForm.password = 'THIS_VALUE_SHOULD_BE_HIDDEN'
        this.profileForm.education = currentUser.get('education')
        this.profileForm.aboutMe = currentUser.get('about_me')
        if( currentUser.get('profile_pic')){
            this.profileForm.profilePic = currentUser.get('profile_pic')._url
        }else {
            this.profileForm.profilePic = require('../assets/img/default_profile.png')
        }
        const dob = new Date(currentUser.get('date_of_birth') ? currentUser.get('date_of_birth') : Date.now())
        this.profileForm.date = `${dob.getFullYear()}-${dob.getMonth() < 9 ? '0'+(dob.getMonth()+1).toString() : (dob.getMonth()+1).toString()}-${dob.getDate() < 10 ? '0'+(dob.getDate()+1).toString() : dob.getDate().toString()}`
    },
    editProfilePic() {
         const user = this.$parse.User.current()
         this.$toBase64(this.uploadedPic).then( result => {
             user.set('profile_pic',new this.$parse.File(this.uploadedPic.name,{ base64: result }))
             user.save().then( () => {
                 window.location.reload()
             }).catch( error => {
                 this.error = error
                 alert(this.error)
                 this.dialog = false
             })
         })

    },
    updateProfile() {
        this.loading = true
        if(this.$refs.profileForm.validate()){
            const user = this.$parse.User.current()
            user.set('username',this.profileForm.username)
            user.set('name',this.profileForm.fullname)
            user.set('email',this.profileForm.email)
            user.set('date_of_birth',new Date(this.profileForm.date))
            user.set('education',this.profileForm.education)
            user.set('about_me',this.profileForm.aboutMe)
            user.save().then( () => {
                window.location.reload()
            }).catch( error => {
                this.loading = false
                this.error = error.message
                alert(this.error)
            })
        }
        else{
            this.loading = false
        }
    },
    receiveDialogPw(value){
        this.dialogPw = value
    }
}
};
</script>
