<template>
<v-content>
    <v-form @submit.prevent="signup" v-model="valid" ref="registerForm" autocomplete="off" class="full-height vertical-center">
                <v-container direction="vertical">
                    <v-layout type="flex" justify-center>
                            <div class="logo" />
                    </v-layout>
                     <v-layout type="flex" justify-center class="pt-3 pb-0">
                    <p class="display-1"><span>M</span>agicians' <span>M</span>arket</p>
                    </v-layout>
                    <v-layout type="flex" justify-center  style="margin-top:-20px" class="pb-5">
                    <p class="body-1 grey--text" style="font-weight:bolder">No.#1 Best Place to Buy Magic Props</p>
                    </v-layout>
                    <v-layout type="flex" justify-center>
                    <v-alert v-if="error != ''" class="ma-0" color="error" con="warning" style="text-align:center" v-text="error" outlined>"</v-alert>
                    </v-layout>
                    <v-layout type="flex" justify-center >
                        <v-flex md4 lg4 xl4>
                            <v-text-field
                            v-model="registerForm.username"
                                label="Username"
                                autocomplete="off"
                                outlined
                                :rules="rules.username"
                            ></v-text-field>
                            <v-text-field
                            v-model="registerForm.fullname"
                                label="Full Name"
                                autocomplete="off"
                                outlined
                                :rules="rules.fullname"
                            ></v-text-field>
                             <v-text-field
                            v-model="registerForm.email"
                                label="Email Address"
                                autocomplete="off"
                                type="email"
                                outlined
                                :rules="rules.email"
                            ></v-text-field>
                            <v-text-field
                            v-model="registerForm.password"
                                label="Password"
                                type="password"
                                autocomplete="off"
                                outlined
                                :rules="rules.password"
                            ></v-text-field>
                            <v-btn class="primary--text" :loading="loading" color="black" block type="submit">Sign Up</v-btn>
                            <p class="color-tertiary text-center mt-2">Already have an account? <router-link class="color-secondary" :to="{path : '/login'}">Login here.</router-link></p>
                        </v-flex>
                    </v-layout>
                </v-container>
        </v-form>
    </v-content>
</template>

<style lang="sass" scoped>
span
    color: var(--v-primary-base)
    font-weight: bolder
</style>
<script>

export default {
  name: 'Login',
  components: {
  },
  data: () => ({
    valid: false,
    error:'',
    loading: false,
    registerForm:{username:'',fullname:'',password:'',email:''},
    rules:{
        username:[
            v=> !!v || 'Username is required',
            v=> v.length < 20 || 'Username must be at most 20 characters'
        ],
        fullname:[
            v=> !!v || 'Full Name is required',
            v=> v.length < 30 || 'Full Name must be at most 30 characters'
        ],
        password:[
            v=> !!v || 'Password is required',
            v=> v.length >= 8 || 'Password must be at least 8 characters'
        ],
        email:[
            v=> !!v || 'Email is required',
            v=> {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(v) || 'Invalid e-mail.'
          }
        ]
    }
  }),
  methods: {
      signup () {
          this.loading = true;
         if(this.$refs.registerForm.validate()){
             const user = new this.$parse.User()
                user.set('username',this.registerForm.username);
                user.set('email', this.registerForm.email);
                user.set('name', this.registerForm.fullname);
                user.set('password', this.registerForm.password);

                user.signUp().then(() => {
                    this.loading = false;
                    this.$router.push({path: '/'});
                }).catch(error => {
                    this.loading = false;
                  this.error = error.message;
                })
         }
         else{
             this.loading = false;
         }
      }
  }
};
</script>
