<template>
     <v-menu
      :nudge-width="200"
      :close-on-content-click="false"
    >
      <template v-slot:activator="{ on }">
          <v-avatar color="primary" size="40px">
        <v-btn
        text icon
          v-on="on"
        >
          <v-icon v-if="!profilePic">mdi-account</v-icon>
          <v-img v-else v-bind:src="profilePic" style="width:40px;height:40px;border-radius:50%"/>
        </v-btn>
          </v-avatar>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-avatar color="primary" size="80px">
              <v-icon v-if="!profilePic" size="60px" class="white--text">mdi-account</v-icon>
              <v-img v-else v-bind:src="profilePic" />
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="name"></v-list-item-title>
              <v-list-item-subtitle v-text="email"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>
        <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
        <v-card-actions>
          <v-btn color="primary" outlined block text @click="dialogLogout = true">Logout</v-btn>
        </v-card-actions>
      </v-card>
       <v-dialog
      v-model="dialogLogout"
      max-width="290"
    >
      <v-card>
        <v-card-title>Are you sure to logout?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="dialogLogout = false"
          >
            Cancel
          </v-btn>

          <v-btn
            color="grey darken-1"
            text
            @click="logout"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </v-menu>
</template>
<script>
export default {
    data:()=>({
        name:'',email:'',dialogLogout: false,profilePic:'',
        items: [
          { title: 'Personal Info', icon: 'mdi-account-edit' ,link:'/personal-info'},
          { title: 'Shopping Cart', icon: 'mdi-cart-outline' ,link:'/shopping-cart'},
          { title: 'Order History', icon: 'mdi-history',link:'/order-history' },
          { title: 'Billing Info', icon: 'mdi-credit-card-settings',link:'/billing-info' }
        ],
    }),
    mounted(){
        this.getUser()
    },
    methods:{
        getUser(){
            const user = this.$parse.User.current()
            this.name = user.get('name')
            this.email = user.get('email')
            if(user.get('profile_pic'))
            this.profilePic = user.get('profile_pic')._url
            else
            this.profilePic = ''
        },
        logout() {
            this.$parse.User.logOut().then(() => {
                this.$router.push({path:'/login'})
            }).catch( error => {
                alert(error.message)
            })
        }
    }
}
</script>