<template>
    <v-navigation-drawer app v-model="showDrawer" temporary>
      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>
<script>
  export default {
    props:{
        show: Boolean
    },
    computed:{
        showDrawer: {
            get: function () {
                return this.show
            },
            set: function (value) {
                this.$emit('show',value)
            }
        },
    },
    data: () => ({
        items: [
          { title: 'Home', icon: 'mdi-home' ,link:'/'},
          { title: 'Explore', icon: 'mdi-magnify' ,link:'/categories'},
          { title: 'Store Outlets', icon: 'mdi-crosshairs-gps',link:'/outlet-locations' },
          { title: 'Help', icon: 'mdi-help-box',link:'/help' },
          { title: 'Feedback', icon: 'mdi-comment-quote-outline',link:'/submit-feedback' },
          { title: 'Settings', icon: 'mdi-settings',link:'/settings' },
          { title: 'About', icon: 'mdi-information',link:'/about' },
        ]
      }),
  }
</script>