<template>
     <v-menu
      :nudge-width="100"
    >
      <template v-slot:activator="{ on }">
          <v-avatar>
        <v-btn
        text icon
          v-on="on"
        >
          <v-icon color="primary">mdi-bell-outline</v-icon>
        </v-btn>
          </v-avatar>
      </template>

      <v-card>
        <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
        >
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.date }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
        <v-card-actions>
          <v-btn color="primary" block text @click="goToNoti" style="text-decoration:underline">See More</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>
</template>
<script>
export default {
    data:()=>({
        name:'',email:'',
        items: [
          { title: 'Your order GX1054T251 has shipped.', date:'26/10/2019 4:46 PM',link:'/mock-noti1'},
          { title: 'Your order GX1054T252 has arrived to warehouse.',date:'25/10/2019 10:36 PM' ,link:'/mock-noti2'},
          { title: 'Your order GX1054T257 has processed.', date:'25/10/2019 6:12 AM',link:'/mock-noti3'},
          { title: 'Your order GX1054T250 has delivered to your address.',date:'23/10/2019 3:16 PM',link:'/mock-noti4'},
          { title: 'Your order GX1054T251 has arrived to warehouse.',date:'22/10/2019 8:28 PM',link:'/mock-noti5'},
          { title: 'Your order GX1054T258 has pending payment.', date:'20/10/2019 12:55 AM',link:'/mock-noti6'},
        ],
    }),
    mounted(){
        this.getUser()
    },
    methods:{
        getUser(){
            const user = this.$parse.User.current()
            this.name = user.get('name')
            this.email = user.get('email')
        },
        goToNoti() {
          this.$router.push({path:'/notifications'})
        }
    }
}
</script>