<template>
     <v-dialog
      v-model="showDialog"
      width="550"
    >
      <v-card>
        <v-card-title
          class="headline black primary--text"
          primary-title
        >
          Password Confirmation
        </v-card-title>

        <v-divider></v-divider>
 <v-form @submit.prevent="updatePassword()" v-model="valid" ref="passwordForm" autocomplete="off" class="pb-3" >
 <v-container>
     <v-alert v-if="error != ''" color="error" con="warning" style="text-align:center" v-text="error" outlined></v-alert>
         <p class="custom-input-label ma-0">Enter your current password</p>
    <v-text-field
    solo-inverted
    type="password"
    v-model="passwordForm.currentPassword"
    :rules="rules.currentPassword"
     />
     <p class="custom-input-label ma-0">Enter your new password</p>
         <v-text-field
    solo-inverted
    type="password"
    v-model="passwordForm.newPassword"
    :rules="rules.newPassword"
     />
     <p class="custom-input-label ma-0">Enter your new password again</p>
         <v-text-field
    solo-inverted
    type="password"
    v-model="passwordForm.newPasswordConfirm"
    :rules="rules.newPasswordConfirm"
     />
 </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="showDialog = false"
          >
            Cancel
          </v-btn>
          <v-btn
            color="gray"
            text
            type="submit"
            :loading="loading"
          >
            Update
          </v-btn>
        </v-card-actions>
         </v-form>
      </v-card>
    </v-dialog>
</template>
<script>
export default {
    data:() => ({
        valid: false,
        loading: false,
        error: '',
        currentPasswordIsCorrect: false,
        passwordForm:{
            currentPassword: '',
            newPassword: '',
            newPasswordConfirm: '',
        },
        rules:{
            currentPassword:[
                v=> !!v || 'Current password is required'
            ],
            newPassword:[
                v=> !!v || 'New password is required',
                v=> v.length >= 8 || 'New password must be at least 8 characters'
            ],
            newPasswordConfirm:[
                v=> !!v || 'New password needs to be confirmed',
                 v=> v.length >= 8 || 'New password must be at least 8 characters'
            ]
        }
    }),
    props:{
        dialogPw: Boolean
    },
    computed: {
        showDialog: {
            get() {
                return this.dialogPw
            },
            set(value){
                this.passwordForm.currentPassword = ''
                this.passwordForm.newPassword = ''
                this.passwordForm.newPasswordConfirm = ''
                this.$emit('dialog',value)
            }
        }
    },
    methods:{
        updatePassword(){
            this.loading = true
            this.error = ''
            if(this.$refs.passwordForm.validate()){
                const user = this.$parse.User.current()
                this.$parse.User.logIn(user.get('username'),this.passwordForm.currentPassword).then(()=>{
                    this.currentPasswordIsCorrect = true
                    if(this.passwordForm.newPassword != this.passwordForm.newPasswordConfirm){
                        this.error = "Passwords do not match"
                        this.loading = false
                    } else { //best case
                        user.set('password',this.passwordForm.newPasswordConfirm)
                        user.save().then(()=> {
                            this.dialogPw = false
                            window.location.reload();
                        })
                    }
                }).catch(() => {
                    this.error = "You have entered incorrect current password"
                    this.loading = false
                })
            }else {
                this.loading = false
            }
        }
    }
}
</script>